* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('pokemon.jpg') no-repeat center center/cover;
    backdrop-filter: blur(4px);
    display: flex;
    padding-left: 20vh;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #9c27b0; 
    margin-bottom: 1rem;
}

.search-box {
    margin-bottom: 1.5rem;
}

#pokemon-id {
    padding: 0.5rem;
    width: 200px;
    border: 2px solid #9c27b0;
    border-radius: 4px;
    margin-right: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #9c27b0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6d1d8f; 
}

.pokemon-card {
    display: none;
    background-color: rgba(49, 178, 165, 0.528);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.pokemon-card img {
    width: 225px;
    height: 225px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.pokemon-info {
    margin: 0.5rem 0;
    font-weight: bold;
}

.pokemon-name {
    font-size: 1.5rem;
    color: #7b1fa2;
}
